body {
  padding-top: 35px;
  background-color:#EEEEEE;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  align-self: center;
}
.todolist {
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.form-control {
	max-width: 350px !important;
	padding:20px 20px 10px 20px;
}
.footer {
    text-align: center;
    margin-top: 300px;
    /*color: #4081f5;*/
}
.navigate {
   background-color: #3367d6 !important;
   /*#2980B9 !important;*/
}
.navbar-brand,
.list {
    color: #fff !important;
}
.navbar-brand:hover,
.list:hover {
    color: #9d9d9d !important;
}
.nav-brand:hover {
    color:#FFF;
}
.first-header {
    margin-left: -105px;
}
.second-header {
    margin-left: 125px;
}
h4s,
h5s,
.leads{
    color: #4081f5;
}
.dropdown {
    margin-left: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    width: 600px !important;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 4px;
    background-color: #3367d6;
    color: #fff;
}

.modal-body{
    padding: 2px 16px;
    background-color: #f5f5f5;
    }

.modals-footer {
    padding: 10px 0px;
    margin-right: 0px !important;
    background-color: #fff;
    /*color: #fff;*/
}
.method {
    padding-top: 8px;
}